<?xml version="1.0" encoding="utf-8"?>
<checkout>
	<type name="customer">
		<fieldset group="billing" label="Billing Address" controlname="elements" >
			<field name="billing.name" type="text" width="1-1" default="" label="Name" description="Name of the account." required="1" />
			<field name="billing.street1" type="text" width="1-1" default="" label="Address Line 1" description="Address Line 1." required="1" />
			<field name="billing.street2" type="text" width="1-1" default="" label="Address Line 2" description="Address Line 2." />
			<field name="billing.city" type="text" width="4-10" default="" label="City" description="Enter a City." required="1" />
			<field name="billing.state" type="stateslist" width="3-10" default="" label="State" description="State" required="1" />
			<field name="billing.postalCode" type="text" width="3-10" default="" label="Postal Code" description="Postal Code" required="1" />
			<field name="billing.phoneNumber" type="text" width="1-2" default="" label="Phone Number" description="Phone Number" required="1" />
			<field name="billing.altNumber" type="text" width="1-2" default="" label="Alternate Phone Number" description="Alternate Phone Number" />
		</fieldset>
		<fieldset group="shipping" controlname="elements" >
			<field name="shipping.name" type="text" width="1-1" default="" label="Name" description="Name of the account." />
			<field name="shipping.street1" type="text" width="1-1" default="" label="Address Line 1" description="Address Line 1." />
			<field name="shipping.street2" type="text" width="1-1" default="" label="Address Line 2" description="Address Line 2." />
			<field name="shipping.city" type="text" width="4-10" default="" label="City" description="Address Line 2." />
			<field name="shipping.state" type="stateslist" width="3-10" default="" label="State" description="State" />
			<field name="shipping.postalCode" type="text" width="3-10" default="" label="Postal Code" description="Postal Code" />
			<field name="shipping.phoneNumber" type="text" width="1-2" default="" label="Phone Number" description="Phone Number" />
			<field name="shipping.altNumber" type="text" width="1-2" default="" label="Alternate Phone Number" description="Alternate Phone Number" />
		</fieldset>
		<fieldset group="email-address" label="E-Mail Address" controlname="elements" >
			<field name="email" type="text" width="1-1" default="" label="E-Mail Address" description="E-Mail Address." required="1" />
			<field name="confirm_email" type="text" width="1-1" default="" label="Confirm E-Mail Address" description="Confirm your e-mail address." required="1" />
		</fieldset>
		<fieldset group="shipping_selection" label="Shipping Method" controlname="elements" >
			<field name="shipping_method" type="ship_services_list" width="1-2" default="0" label="Shipping Method" description="Choose Your Shipping Method." required="1" />
		</fieldset>
	</type>
	<type name="payment">
		<fieldset group="purchase_order" controlname="elements" >
			<field name="payment.account_name" type="text" width="1-1" default="" label="Account Name" description="" disabled="1"/>
			<field name="payment.account_number" type="text" width="1-1" default="" label="Account Number" description="" disabled="1"/>
			<field name="payment.customer_name" type="text" width="1-1" default="" label="Customer Name" description=""  required="1" />
			<field name="payment.po_number" type="text" width="1-1" default="" label="P.O. Number" description="" required="1" />
		</fieldset>
	</type>
</checkout>