<?xml version="1.0" encoding="utf-8"?>
<userprofile>
	<form>
		<fieldset group="details" label="Details" controlname="core" >
			<field name="id" type="storetext" width="2-10" default="" label="Employee Number"  description="The employee's identification number." />
			<field name="name" type="storetext" width="8-10" default="" label="Name" description="Name of the account." />
			<field name="username" type="storetext" width="2-10" default="" label="Username" description="Username for the account." />
			<field name="email" type="storetext" width="4-10" default="" label="Email" description="An email address for the user." />
			<field name="state" type="statelist" width="2-10" default="" label="Account Status" value="account" description="The current status for the user." />
			<field name="sendEmail" type="radio" width="2-10" default="0" label="Send Emails" description="Send emails to this account?">
				<option value="0">No</option>
				<option value="1">Yes</option>
			</field>
		</fieldset>
		<fieldset group="password" label="password" controlname="core">
			<field name="password" type="password" width="1-4" default="" label="Password" description="Password the account." />
			<field name="confirm_pwd" type="password" width="1-4" default="" label="Confirm Password" description="Confirm the password for the account." />
		</fieldset>
		<fieldset group="contact" label="Contact Info" controlname="elements">
			<field name="office_phone" type="text" width="1-3" default="" label="Office Phone" description="An office phone number for the point of contact." />
			<field name="mobile_phone" type="text" width="1-3" default="" label="Mobile Phone" description="A mobile phone number for the point of contact." />
			<field name="other_phone" type="text" width="1-3" default="" label="Other Phone" description="Another phone number for the point of contact." />
		</fieldset>
		<fieldset group="elements" label="User Account Elements" controlname="elements" width="1-1">
			<field name="account" type="accountlist" width="1-3" default="" label="Assigned to" description="An account that this user is assigned to." />
			<field name="commission" type="dropdown" width="1-4" default="0" label="Commission" description="" >
				<option value=".00">No Commission</option>
				<option value=".01">1%</option>
				<option value=".02">2%</option>
				<option value=".03">3%</option>
				<option value=".04">4%</option>
				<option value=".05">5%</option>
			</field>
		</fieldset>
	</form>
	
	
</userprofile>
