 {
	"name": "Boat Shade Kit",
	"elements":  {
		"1b8a0c32-9ddb-4d81-be30-a43b260420ae":  {
			"name": "Price",
			"description": "",
			"access": "1",
			"price_type": "",
			"type": "price"
		},
		"926fc8cb-6c93-4342-82a8-d2320bbb0f37":  {
			"name": "T-Top Type Modal",
			"description": "",
			"access": "1",
			"element_id": "ttop-type",
			"type": "modal"
		},
		"a6c379ad-baf8-4137-bac2-9f210fa23633":  {
			"name": "Guarantee",
			"description": "",
			"access": "1",
			"upload_directory": "images\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"6f5dcf38-1a14-4965-9865-f07ffb0c6ec3":  {
			"name": "Boat Style Modal",
			"description": "",
			"access": "1",
			"element_id": "boat-style",
			"type": "modal"
		},
		"2072dc31-1205-4b43-bf13-b64d4e768fcb":  {
			"name": "Boat Make",
			"description": "",
			"access": "1",
			"field_name": "boat_make",
			"option_type": "user_entered",
			"layout": "dropdown",
			"default": "",
			"option_list": "0",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"f65f8024-2956-4346-859f-699f8b832545":  {
			"name": "Boat Model",
			"description": "",
			"access": "1",
			"field_name": "",
			"option_type": "user_entered",
			"layout": "dropdown",
			"default": "",
			"option_list": "0",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"97e9916c-b1e2-4b23-b640-0be3ff86024b":  {
			"name": "Year",
			"description": "",
			"access": "1",
			"field_name": "year",
			"option_type": "item_year",
			"layout": "dropdown",
			"default": "",
			"option_list": "0",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"ec464aff-9a08-4d95-b417-fb8681822208":  {
			"name": "T-Top Type",
			"description": "",
			"access": "1",
			"field_name": "top_type",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "t-top_type",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"806e974c-d1ba-4f34-a30b-1fee40fa4924":  {
			"name": "Boat Style",
			"description": "",
			"access": "1",
			"field_name": "boat_style",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "boat_style",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"d0f3707f-2336-4e5f-b16e-1ecff9f87976":  {
			"name": "BSK Kit Options",
			"description": "",
			"access": "1",
			"element_id": "bsk-kit",
			"type": "modal"
		},
		"0c5c40db-bd1b-4cda-89f4-4ce33f936fe2":  {
			"name": "Options",
			"description": "",
			"access": "1",
			"type": "useroptions"
		},
		"05d45d10-1b93-4732-bc60-a6da0c819692":  {
			"name": "Kit Contents",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"d9c19fd0-0b12-482b-a1c6-62c9212c62fa":  {
			"name": "Essential Accessories",
			"description": "",
			"access": "1",
			"multiselect": "1",
			"selectable_categories": "1",
			"category": "124",
			"type": "accessories"
		},
		"c9b507ed-a1ea-47e9-b208-94c5d60a5980":  {
			"name": "Multi-Postitional",
			"description": "",
			"access": "1",
			"element_id": "multipositional",
			"type": "modal"
		},
		"337206c3-3e5f-4974-b8e1-f6d57e9e276b":  {
			"name": "Boat Style",
			"description": "",
			"access": "1",
			"field_name": "boat_style",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "boat_style",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"483cebdc-3501-42be-b15d-960efcceec2a":  {
			"name": "Info & Videos",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"0f841e84-5188-4188-87ee-ed08956e0957":  {
			"name": "Aft Measurement Instructions",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"f5fe2afd-536a-4ed9-a38c-87a7fbe06389":  {
			"name": "Bow Measurement Instructions",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"c046404d-bc46-4c50-88e7-147ccad98c4c":  {
			"name": "T-Top to Rod Holders Measurement",
			"description": "",
			"access": "1",
			"field_name": "ttop2rod",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "ttop2rodholders_bsk",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"b401062a-c436-4e15-99ac-5ee1c3cb1d6c":  {
			"name": "T-Top Width",
			"description": "",
			"access": "1",
			"field_name": "ttop_width",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "ttop_width_bsk",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"b2bfa38f-bcae-4cf7-807a-4065a582053c":  {
			"name": "Add To Cart",
			"description": "",
			"access": "1",
			"type": "cart"
		},
		"1f922c2f-86c0-444a-bf36-ae1368b59274":  {
			"name": "Beam Width",
			"description": "",
			"access": "1",
			"field_name": "beam",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "beam_bsk",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}