 {
	"name": "Center Console Curtain",
	"elements":  {
		"5dfb722f-3435-43a7-a66b-9873b94eaebb":  {
			"name": "T-Top Type",
			"description": "",
			"access": "1",
			"field_name": "top_type",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "t-top_type",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"1bc7e586-1e99-47da-b92f-c24667a354fa":  {
			"name": "Fabric",
			"description": "",
			"access": "1",
			"field_name": "fabric",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "9oz",
			"option_list": "ccc-fabric",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"7b4727cf-0be3-4bcf-ab83-f88222bcfb22":  {
			"name": "Color",
			"description": "",
			"access": "1",
			"field_name": "color",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "color",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"06076124-0c43-4c74-895d-ca687163c1e4":  {
			"name": "Boat Style",
			"description": "",
			"access": "1",
			"element_id": "boat_style",
			"type": "modal"
		},
		"f7633cc2-a98a-439a-918c-94dcfd0f671c":  {
			"name": "Color Modal",
			"description": "",
			"access": "1",
			"element_id": "color",
			"type": "modal"
		},
		"0cf0b506-e5dc-43e6-9036-c8b04ad559d2":  {
			"name": "Fabric Modal",
			"description": "",
			"access": "1",
			"element_id": "fabric",
			"type": "modal"
		},
		"1f46633e-78b1-4ba5-a8c9-b3621d6dd4a3":  {
			"name": "Make",
			"description": "",
			"access": "1",
			"field_name": "boat_make",
			"option_type": "user_entered",
			"layout": "dropdown",
			"default": "",
			"option_list": "0",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"47fb60f5-dbf0-4de2-b56a-8b7750960401":  {
			"name": "Model",
			"description": "",
			"access": "1",
			"field_name": "",
			"option_type": "user_entered",
			"layout": "dropdown",
			"default": "",
			"option_list": "0",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"f959c58e-ea5f-4112-8f5d-dd5fbf1e1515":  {
			"name": "Year",
			"description": "",
			"access": "1",
			"field_name": "year",
			"option_type": "item_year",
			"layout": "dropdown",
			"default": "",
			"option_list": "0",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"c08ee50b-20f2-408f-a7bd-a5308521491b":  {
			"name": "Boat Style",
			"description": "",
			"access": "1",
			"field_name": "boat_style",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "boat_style",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"dd9722ad-68e3-4ce1-b027-3089e2e2b554":  {
			"name": "Kit Options",
			"description": "",
			"access": "1",
			"element_id": "ubsk-kit-options",
			"type": "modal"
		},
		"f7fffed7-15cd-4a1e-9b0a-83f14a4917d8":  {
			"name": "Satisfaction",
			"description": "",
			"access": "1",
			"upload_directory": "images\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"c5c38e92-6141-48eb-adcc-798abc18b6a3":  {
			"name": "Options",
			"description": "",
			"access": "1",
			"type": "useroptions"
		},
		"c0b68535-4c85-441f-8e18-048cd4a368c4":  {
			"name": "Gallery",
			"description": "",
			"access": "1",
			"directory": "images",
			"type": "gallery"
		},
		"9223f209-01ee-4491-b62a-7c6fcc60319a":  {
			"name": "Kit Contents",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"6580c6bb-80a9-4d32-aa25-beea64b7ca48":  {
			"name": "Essential Accessories",
			"description": "",
			"access": "1",
			"multiselect": "1",
			"selectable_categories": "",
			"type": "accessories"
		},
		"74ac9f1b-5199-4c1f-9070-ab02749b9dc0":  {
			"name": "Multi-Postitional",
			"description": "",
			"access": "1",
			"element_id": "multipositional",
			"type": "modal"
		},
		"af1f7a9f-a366-4365-b670-56bf1967cda9":  {
			"name": "Info & Videos",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"de469b85-7b30-4a08-91f2-1de10ecdb4ce":  {
			"name": "Aft Measurement Instructions",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"6098dae6-adc4-4fad-9a00-86628a4b1790":  {
			"name": "T-Top to Rod Holders Measurement",
			"description": "",
			"access": "1",
			"field_name": "ttop2rod",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "ttop2rodholders_bsk",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"041afc27-384c-4c0c-8e6f-ec619f85e799":  {
			"name": "T-Top Width",
			"description": "",
			"access": "1",
			"field_name": "ttop_width",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "ttop_width_bsk",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"f87225aa-c02c-4d93-9d04-ea3134573f1d":  {
			"name": "Add To Cart",
			"description": "",
			"access": "1",
			"type": "cart"
		},
		"5a1f5ea6-b82f-4251-87b9-6055e1d8f22d":  {
			"name": "Price",
			"description": "",
			"access": "1",
			"price_type": "",
			"type": "price"
		},
		"7aae10a2-8504-4c32-804f-527acc2ffb27":  {
			"name": "Beam Width",
			"description": "",
			"access": "1",
			"field_name": "beam",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "beam_bsk",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}