 {
	"name": "Storage Bag",
	"elements":  {
		"f2ec4e8d-dc99-496e-a761-8c5cca298608":  {
			"name": "Size",
			"description": "",
			"access": "1",
			"field_name": "size",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "l",
			"option_list": "storagebag_size",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"cf6b8894-1ac4-4395-9bc9-74a968c2640c":  {
			"name": "Add To Cart",
			"description": "",
			"access": "1",
			"type": "cart"
		},
		"c06714dd-e597-46e6-a7e5-ddf133a56f79":  {
			"name": "Teaser Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"4670b923-66db-4010-aef3-345e029374f4":  {
			"name": "Price",
			"description": "",
			"access": "1",
			"price_type": "",
			"type": "price"
		},
		"f5365498-2ab5-4ede-badd-d09298f5fd5d":  {
			"name": "Images",
			"description": "",
			"access": "1",
			"directory": "images\/accessories",
			"type": "gallery"
		},
		"a8df74fe-5be9-469d-a521-3eed9390ef7a":  {
			"name": "Description",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}