 {
	"name": "T-Top Boat Cover",
	"elements":  {
		"ef2f0495-6728-4443-b23c-723d7acef3dc":  {
			"name": "Price",
			"description": "",
			"access": "1",
			"price_type": "",
			"type": "price"
		},
		"e414e559-edb8-46e3-b2d5-eef44988f52a":  {
			"name": "Essential Accessories",
			"description": "",
			"access": "1",
			"multiselect": "1",
			"selectable_categories": "1",
			"category": "125",
			"type": "accessories"
		},
		"269f680f-397a-4b3d-bbff-cd117a21deae":  {
			"name": "Fabric Modal",
			"description": "",
			"access": "1",
			"element_id": "fabric",
			"type": "modal"
		},
		"88d71747-c5fd-4d34-8a76-c47c5c43f41a":  {
			"name": "Hard Top Harness Strap Kit",
			"description": "",
			"access": "1",
			"element_id": "hthsk",
			"type": "modal"
		},
		"cd4d02e0-6ca9-4e03-ae7e-4b56f3436d04":  {
			"name": "Bow Rails",
			"description": "",
			"access": "1",
			"element_id": "bow-rails",
			"type": "modal"
		},
		"bbe66140-1a1d-42a4-9b48-61f7f9c07793":  {
			"name": "Boat Style Modal",
			"description": "",
			"access": "1",
			"element_id": "boat_style",
			"type": "modal"
		},
		"a9d1d2d7-d886-4d56-8591-49afb7f7f334":  {
			"name": "Zipper Access Modal",
			"description": "",
			"access": "1",
			"element_id": "zipper",
			"type": "modal"
		},
		"4fea682b-9a90-41c9-88f7-52971fc7a8d1":  {
			"name": "Bow Accessories Modal",
			"description": "",
			"access": "1",
			"element_id": "bow-accessories",
			"type": "modal"
		},
		"7b00d610-b01b-417e-9e8d-19a793d9feba":  {
			"name": "Power Poles Modal",
			"description": "",
			"access": "1",
			"element_id": "power-poles",
			"type": "modal"
		},
		"12ec0364-4fee-4d58-ab01-064647a9cb7e":  {
			"name": "Jack Plate Modal",
			"description": "",
			"access": "1",
			"element_id": "jack-plate",
			"type": "modal"
		},
		"854b17b0-1b2e-414f-8ca4-6d3aa767d9e4":  {
			"name": "Color Modal",
			"description": "",
			"access": "1",
			"element_id": "color",
			"type": "modal"
		},
		"62608b7e-56ef-45e9-a630-8313fd893695":  {
			"name": "Ski\/Tow Bar Modal",
			"description": "",
			"access": "1",
			"element_id": "ski-tow-bar",
			"type": "modal"
		},
		"d2c300f5-2403-44e8-9c04-72c53eadd97a":  {
			"name": "Swim Ladder Modal",
			"description": "",
			"access": "1",
			"element_id": "swim_ladder",
			"type": "modal"
		},
		"3a915b2e-f6ba-4aea-95cb-24cb753146aa":  {
			"name": "Boat Style",
			"description": "",
			"access": "1",
			"field_name": "boat_style",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "boat_style",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"efaa303b-d71f-4fdb-9c97-cbf3a84a3d72":  {
			"name": "Color",
			"description": "",
			"access": "1",
			"field_name": "color",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "color",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"10a4e783-d4a8-405d-8cec-f47e66fb0e8b":  {
			"name": "In Water Modal",
			"description": "",
			"access": "1",
			"element_id": "inwater",
			"type": "modal"
		},
		"e8f2833e-44ee-4cbb-b4b7-f04a8c8506be":  {
			"name": "Confirmation Modal",
			"description": "",
			"access": "1",
			"element_id": "confirm",
			"type": "modal"
		},
		"1184eba6-f838-4f94-8f50-399fceeac3c4":  {
			"name": "Trolling Motor Modal",
			"description": "",
			"access": "1",
			"element_id": "tm-temp",
			"type": "modal"
		},
		"0ad72c52-5d2a-4398-98c5-576f7a0207b3":  {
			"name": "Ski\/Tow Bar",
			"description": "",
			"access": "1",
			"field_name": "ski_tow_bar",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "ski_tow_bar",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"945424a9-777a-4f5c-9f44-317f2b70034a":  {
			"name": "Aft Options",
			"description": "",
			"access": "1",
			"field_name": "aft_options",
			"option_type": "global_options",
			"layout": "checkbox",
			"default": "",
			"option_list": "aft_options",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"2c1d8d93-8ad2-456e-aa22-aca3a204edd0":  {
			"name": "Accessories",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "accessories"
			},
			"type": "relateditems"
		},
		"a192d481-ee11-408f-b185-17df536f0837":  {
			"name": "Swim Ladder",
			"description": "",
			"access": "1",
			"field_name": "swim_ladder",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "swim_ladder",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"6f8fd681-e659-4da7-a8e4-8e5fb7787529":  {
			"name": "Price",
			"description": "",
			"access": "1",
			"price_type": "t-top-boat-cover",
			"type": "price"
		},
		"83ebee29-8eb7-4bbd-bd7c-ec15a4ff1aa7":  {
			"name": "Add To Cart",
			"description": "",
			"access": "1",
			"type": "cart"
		},
		"9e7fdfc2-a200-45e1-8ef3-76d83edabc36":  {
			"name": "Jack Plate",
			"description": "",
			"access": "1",
			"field_name": "jack_plate",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "jack_plate",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"16e794c6-de0b-4f03-8f52-68ef79313f6d":  {
			"name": "Power Poles",
			"description": "",
			"access": "1",
			"field_name": "power_poles",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "power_poles",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"436f084c-48c9-4d42-886b-8e928c0a40bb":  {
			"name": "Trolling Motor",
			"description": "",
			"access": "1",
			"field_name": "trolling_motor",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "trolling_motor",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"aa1bd218-8b73-4343-b616-e9fe8f2c208d":  {
			"name": "Bow Accessories",
			"description": "",
			"access": "1",
			"field_name": "bow_accessories",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "bow_options",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"9f6b8382-ff0c-4154-84e4-172ddb4e1e16":  {
			"name": "Storage",
			"description": "",
			"access": "1",
			"field_name": "storage",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "storage",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"13da0c51-5124-478a-a122-32dda5883974":  {
			"name": "Zipper",
			"description": "",
			"access": "1",
			"field_name": "zipper",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "zipper",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"ccbbccc4-21b6-47c4-b484-48f32f323b5a":  {
			"name": "Bow Rails",
			"description": "",
			"access": "1",
			"field_name": "bow_rails",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "bow_rails",
			"all_options": "0",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"bf57a2c4-7cf8-4ef6-8ee4-f1ffcb599c45":  {
			"name": "Year",
			"description": "",
			"access": "1",
			"field_name": "year",
			"option_type": "item_year",
			"layout": "dropdown",
			"default": "",
			"option_list": "0",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"555ad97f-e3e7-4608-a103-6de9f6d00291":  {
			"name": "Boat Length",
			"description": "",
			"access": "1",
			"field_name": "boat_length",
			"option_type": "attributes",
			"layout": "dropdown",
			"default": "",
			"option_list": "boat_length",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"c05a17c0-4fc2-4ca2-8843-15c6877ec183":  {
			"name": "Motors",
			"description": "",
			"access": "1",
			"field_name": "motors",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "motors",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"22129190-29c6-48b0-b85e-55f675d1c1f4":  {
			"name": "Motor Make",
			"description": "",
			"access": "1",
			"field_name": "motor_make",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "motor_make",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"4cd1ec25-cf65-464c-a7b7-a58509885319":  {
			"name": "Motor Size",
			"description": "",
			"access": "1",
			"field_name": "motor_size",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "motor_size",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"c4186ebd-b73a-4969-9c8a-29bfa20ff1a2":  {
			"name": "T-Top Type",
			"description": "",
			"access": "1",
			"field_name": "ttop_type",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "t-top_type",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"db3c9513-4bd6-44ce-97cf-c30410872277":  {
			"name": "Fabric & Pricing",
			"description": "",
			"access": "1",
			"field_name": "fabric",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "9oz",
			"option_list": "fabric",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"eb48f28a-10ec-43be-b647-d850d19e35f1":  {
			"name": "Images",
			"description": "",
			"access": "1",
			"directory": "images\/boats",
			"type": "gallery"
		},
		"e7f5f314-8c13-4625-847b-208800db7841":  {
			"name": "Teaser Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/zoo\/uploads\/boats\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"1f0eb43a-159d-4aa7-a0e0-5e014f1fd8f7":  {
			"name": "Description",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "Make",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "Model",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}