 {
	"name": "Ultimate Boat Shade",
	"elements":  {
		"6dc5f063-da64-434a-98bc-a8147d5242ca":  {
			"name": "Make",
			"description": "",
			"access": "1",
			"field_name": "boat_make",
			"option_type": "user_entered",
			"layout": "dropdown",
			"default": "",
			"option_list": "0",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"d3ade170-844e-408f-91b5-a0e81fa29374":  {
			"name": "Model",
			"description": "",
			"access": "1",
			"field_name": "",
			"option_type": "user_entered",
			"layout": "dropdown",
			"default": "",
			"option_list": "0",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"f2bcce2f-2f3a-4ea6-b974-ed642f2e13e1":  {
			"name": "Year",
			"description": "",
			"access": "1",
			"field_name": "year",
			"option_type": "item_year",
			"layout": "dropdown",
			"default": "",
			"option_list": "0",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"f4f9f7e4-5313-46d3-8f00-afb02cb7e282":  {
			"name": "Kit Options",
			"description": "",
			"access": "1",
			"element_id": "kit-options",
			"type": "modal"
		},
		"5efa350e-35b1-48ff-bb70-3bccea97d768":  {
			"name": "Satisfaction",
			"description": "",
			"access": "1",
			"upload_directory": "images\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"6d5aa8d4-d197-407f-8c38-1dee3fa5db03":  {
			"name": "Options",
			"description": "",
			"access": "1",
			"type": "useroptions"
		},
		"a3de2630-8a50-449d-8ad3-f68e666c8944":  {
			"name": "Gallery",
			"description": "",
			"access": "1",
			"directory": "images",
			"type": "gallery"
		},
		"e8f3782b-49c0-4b1d-80cd-aed1cdf93f23":  {
			"name": "Kit Contents",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"7b868c24-8763-49c2-b509-cbcef6e0831d":  {
			"name": "Essential Accessories",
			"description": "",
			"access": "1",
			"multiselect": "1",
			"selectable_categories": "",
			"type": "accessories"
		},
		"f8acaff1-74a6-4b7d-9fa3-598fc61f0ed1":  {
			"name": "Multi-Postitional",
			"description": "",
			"access": "1",
			"element_id": "multipositional",
			"type": "modal"
		},
		"f9e52ab1-79cc-4e7d-8010-6133068bd7a1":  {
			"name": "Style",
			"description": "",
			"access": "1",
			"field_name": "boat_style",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "boat_style",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"d0fff279-9c73-4416-8b70-2c4b03412d99":  {
			"name": "Info & Videos",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"6945b708-34df-4cb9-a4b7-c76bd29ddd99":  {
			"name": "Aft Measurement Instructions",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"63a35feb-cb2f-4cd2-82bc-488d26c1d0bb":  {
			"name": "T-Top to Rod Holders Measurement",
			"description": "",
			"access": "1",
			"field_name": "ttop2rod",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "ttop2rodholders_bsk",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"939c8c24-978d-41e0-b291-dabf48cd72db":  {
			"name": "T-Top Width",
			"description": "",
			"access": "1",
			"field_name": "ttop_width",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "ttop_width_bsk",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"872121b4-3ee8-47ea-9008-84adc85d9ebb":  {
			"name": "Add To Cart",
			"description": "",
			"access": "1",
			"type": "cart"
		},
		"8dc2b5dd-e49e-4bcb-9f68-a8a7a6b7cf7d":  {
			"name": "Price",
			"description": "",
			"access": "1",
			"price_type": "bsk",
			"type": "price"
		},
		"cda2806a-edd7-4055-ac03-c33be7cd92eb":  {
			"name": "Beam Width",
			"description": "",
			"access": "1",
			"field_name": "beam",
			"option_type": "global_options",
			"layout": "dropdown",
			"default": "",
			"option_list": "beam_bsk",
			"all_options": "1",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}