 {
	"store.ttopboatcover.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		}
	},
	"store.ttopboatcover.full":  {
		"title":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Make",
				"linked": "0",
				"separated_by": "separator=[ ]",
				"element": "_itemcategory"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "Model",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"pricing":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "2",
				"element": "ef2f0495-6728-4443-b23c-723d7acef3dc"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"mode": "slideshow",
				"lightbox_group": "1",
				"lightbox_caption": "1",
				"slideshow_animated": "top",
				"slideshow_width": "auto",
				"slideshow_height": "auto",
				"slideshow_autoplay": "1",
				"slideshow_interval": "5000",
				"slideshow_duration": "500",
				"effect": "",
				"spotlight_effect": "default",
				"spotlight_caption": "0",
				"corners": "square",
				"margin": "1",
				"order": "asc",
				"width": "75",
				"height": "0",
				"count": "0",
				"element": "eb48f28a-10ec-43be-b647-d850d19e35f1"
			}
		},
		"boat_options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "How is your boat stored?",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "9f6b8382-ff0c-4154-84e4-172ddb4e1e16"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "bf57a2c4-7cf8-4ef6-8ee4-f1ffcb599c45"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "c4186ebd-b73a-4969-9c8a-29bfa20ff1a2"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "3a915b2e-f6ba-4aea-95cb-24cb753146aa"
			}
		},
		"motor_options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "c05a17c0-4fc2-4ca2-8843-15c6877ec183"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "Make",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "22129190-29c6-48b0-b85e-55f675d1c1f4"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "4cd1ec25-cf65-464c-a7b7-a58509885319"
			}
		},
		"cover_options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Zipper Access Side",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "13da0c51-5124-478a-a122-32dda5883974"
			}
		},
		"bow_options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "ccbbccc4-21b6-47c4-b484-48f32f323b5a"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "436f084c-48c9-4d42-886b-8e928c0a40bb"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "aa1bd218-8b73-4343-b616-e9fe8f2c208d"
			}
		},
		"special_accessories":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "0ad72c52-5d2a-4398-98c5-576f7a0207b3"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "9e7fdfc2-a200-45e1-8ef3-76d83edabc36"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "a192d481-ee11-408f-b185-17df536f0837"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "16e794c6-de0b-4f03-8f52-68ef79313f6d"
			}
		},
		"options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "db3c9513-4bd6-44ce-97cf-c30410872277"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "efaa303b-d71f-4fdb-9c97-cbf3a84a3d72"
			}
		},
		"accessories":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order":  {
					"0": "_itemname",
					"1": "7d072ccb-e0e8-4dc9-ac80-1cdcd7add7a4",
					"2": "",
					"3": "",
					"4": "",
					"5": "",
					"6": "",
					"7": "",
					"8": ""
				},
				"layout": "related",
				"separated_by": "tag=[%s]",
				"element": "e414e559-edb8-46e3-b2d5-eef44988f52a"
			}
		},
		"item_attributes":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "555ad97f-e3e7-4608-a103-6de9f6d00291"
			}
		},
		"modals":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "269f680f-397a-4b3d-bbff-cd117a21deae"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "1",
				"element": "88d71747-c5fd-4d34-8a76-c47c5c43f41a"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "cd4d02e0-6ca9-4e03-ae7e-4b56f3436d04"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "bbe66140-1a1d-42a4-9b48-61f7f9c07793"
			},
			"4":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "a9d1d2d7-d886-4d56-8591-49afb7f7f334"
			},
			"5":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "4fea682b-9a90-41c9-88f7-52971fc7a8d1"
			},
			"6":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "12ec0364-4fee-4d58-ab01-064647a9cb7e"
			},
			"7":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "7b00d610-b01b-417e-9e8d-19a793d9feba"
			},
			"8":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "854b17b0-1b2e-414f-8ca4-6d3aa767d9e4"
			},
			"9":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "62608b7e-56ef-45e9-a630-8313fd893695"
			},
			"10":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "d2c300f5-2403-44e8-9c04-72c53eadd97a"
			},
			"11":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "1",
				"element": "1184eba6-f838-4f94-8f50-399fceeac3c4"
			},
			"12":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "e8f2833e-44ee-4cbb-b4b7-f04a8c8506be"
			},
			"13":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "10a4e783-d4a8-405d-8cec-f47e66fb0e8b"
			}
		}
	},
	"store.ttopboatcover.cover":  {
		"title":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Make",
				"linked": "0",
				"separated_by": "separator=[ ]",
				"element": "_itemcategory"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "Model",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"mode": "slideshow",
				"lightbox_group": "1",
				"lightbox_caption": "1",
				"slideshow_animated": "fade",
				"slideshow_width": "auto",
				"slideshow_height": "auto",
				"slideshow_autoplay": "1",
				"slideshow_interval": "8000",
				"slideshow_duration": "500",
				"effect": "zoom",
				"spotlight_effect": "fade",
				"spotlight_caption": "1",
				"corners": "round",
				"margin": "1",
				"order": "asc",
				"width": "auto",
				"height": "auto",
				"count": "0",
				"element": "eb48f28a-10ec-43be-b647-d850d19e35f1"
			}
		},
		"boat_options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "How is your boat stored?",
				"field_width": "1",
				"hidden": "0",
				"element": "9f6b8382-ff0c-4154-84e4-172ddb4e1e16"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"element": "bf57a2c4-7cf8-4ef6-8ee4-f1ffcb599c45"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"element": "c4186ebd-b73a-4969-9c8a-29bfa20ff1a2"
			}
		},
		"motor_options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "1",
				"hidden": "0",
				"element": "c05a17c0-4fc2-4ca2-8843-15c6877ec183"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "Make",
				"field_width": "2",
				"hidden": "0",
				"element": "22129190-29c6-48b0-b85e-55f675d1c1f4"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "Model",
				"field_width": "2",
				"hidden": "0",
				"element": "4cd1ec25-cf65-464c-a7b7-a58509885319"
			}
		},
		"cover_options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Zipper Access Side",
				"field_width": "1",
				"hidden": "0",
				"element": "13da0c51-5124-478a-a122-32dda5883974"
			}
		},
		"bow_options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"element": "ccbbccc4-21b6-47c4-b484-48f32f323b5a"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"element": "436f084c-48c9-4d42-886b-8e928c0a40bb"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "1",
				"hidden": "0",
				"element": "aa1bd218-8b73-4343-b616-e9fe8f2c208d"
			}
		},
		"aft_options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "4",
				"hidden": "0",
				"element": "a192d481-ee11-408f-b185-17df536f0837"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "4",
				"hidden": "0",
				"element": "9e7fdfc2-a200-45e1-8ef3-76d83edabc36"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "Aft Accessories",
				"field_width": "2",
				"hidden": "0",
				"element": "945424a9-777a-4f5c-9f44-317f2b70034a"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"element": "16e794c6-de0b-4f03-8f52-68ef79313f6d"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "4",
				"hidden": "1",
				"element": "d9dd2243-b7a0-473e-905c-7ad8b513c179"
			}
		},
		"pricing":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "1",
				"element": "6f8fd681-e659-4da7-a8e4-8e5fb7787529"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "Fabric Options (This option affects the price)",
				"field_width": "1",
				"hidden": "0",
				"element": "db3c9513-4bd6-44ce-97cf-c30410872277"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"element": "f23198dd-f1c1-45c6-a1d9-9c66bb61e2ce"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "83ebee29-8eb7-4bbd-bd7c-ec15a4ff1aa7"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"element": "555ad97f-e3e7-4608-a103-6de9f6d00291"
			}
		}
	},
	"store.ttopboatcover.edit":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "e7f5f314-8c13-4625-847b-208800db7841"
			}
		},
		"administration":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "a6cdf951-54c7-43a1-86ba-83729da76b6b"
			}
		}
	},
	"store.ttopboatcover.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			}
		},
		"administration":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "a6cdf951-54c7-43a1-86ba-83729da76b6b"
			}
		}
	},
	"store.accessories.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"mode": "slideshow",
				"lightbox_group": "1",
				"lightbox_caption": "1",
				"slideshow_animated": "top",
				"slideshow_width": "auto",
				"slideshow_height": "auto",
				"slideshow_autoplay": "1",
				"slideshow_interval": "5000",
				"slideshow_duration": "500",
				"effect": "",
				"spotlight_effect": "default",
				"spotlight_caption": "0",
				"corners": "square",
				"margin": "1",
				"order": "asc",
				"width": "75",
				"height": "0",
				"count": "0",
				"element": "2124b7b6-7255-495d-aba2-20def1f1bf7d"
			}
		},
		"options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "1",
				"required": "1",
				"element": "766556e0-0e0b-4009-92e0-32ae46a64d63"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all_without_first",
				"element": "a49d1cfb-8084-432b-8b4c-70c7eab61a69"
			}
		},
		"pricing":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "2",
				"element": "93a06f01-7f7c-4758-bd8f-27a4c5d8e517"
			}
		},
		"modals":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "88627350-b5fb-4a9e-b6c8-e06869564997"
			}
		}
	},
	"store.accessories.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "150",
				"height": "",
				"link_to_item": "1",
				"element": "ab8ac283-d64e-4801-9118-f73fc508c7b5"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "first",
				"element": "a49d1cfb-8084-432b-8b4c-70c7eab61a69"
			}
		}
	},
	"store.accessories.related":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "100",
				"link_to_item": "0",
				"element": "ab8ac283-d64e-4801-9118-f73fc508c7b5"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "first",
				"element": "a49d1cfb-8084-432b-8b4c-70c7eab61a69"
			}
		}
	},
	"store.ttopboatcover.related":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "e7f5f314-8c13-4625-847b-208800db7841"
			}
		}
	},
	"store.boat-shade-kit.full":  {
		"options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"required": "1",
				"element": "0c5c40db-bd1b-4cda-89f4-4ce33f936fe2"
			}
		},
		"product_info":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "a6c379ad-baf8-4137-bac2-9f210fa23633"
			}
		},
		"tabs":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "483cebdc-3501-42be-b15d-960efcceec2a"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "05d45d10-1b93-4732-bc60-a6da0c819692"
			}
		},
		"pricing":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "1",
				"element": "1b8a0c32-9ddb-4d81-be30-a43b260420ae"
			}
		},
		"boat_options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Boat Make",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "2072dc31-1205-4b43-bf13-b64d4e768fcb"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "Boat Model",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "f65f8024-2956-4346-859f-699f8b832545"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "97e9916c-b1e2-4b23-b640-0be3ff86024b"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "ec464aff-9a08-4d95-b417-fb8681822208"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "806e974c-d1ba-4f34-a30b-1fee40fa4924"
			}
		},
		"aft_measurements":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "1) Rod Holder to Rod Holder",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "1f922c2f-86c0-444a-bf36-ae1368b59274"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "2) T-Top Width",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "b401062a-c436-4e15-99ac-5ee1c3cb1d6c"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "3) T-Top to Rod Holders",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "c046404d-bc46-4c50-88e7-147ccad98c4c"
			}
		},
		"bow_measurements":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "1) Rod Holder to Rod Holder",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "1f922c2f-86c0-444a-bf36-ae1368b59274"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "2) T-Top Width",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "b401062a-c436-4e15-99ac-5ee1c3cb1d6c"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "3) T-Top to Rod Holders",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "c046404d-bc46-4c50-88e7-147ccad98c4c"
			}
		},
		"measurement_info":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "0f841e84-5188-4188-87ee-ed08956e0957"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "f5fe2afd-536a-4ed9-a38c-87a7fbe06389"
			}
		},
		"accessories":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order":  {
					"0": "_itemname",
					"1": "7d072ccb-e0e8-4dc9-ac80-1cdcd7add7a4",
					"2": "",
					"3": "",
					"4": "",
					"5": "",
					"6": "",
					"7": "",
					"8": ""
				},
				"layout": "related",
				"separated_by": "tag=[%s]",
				"element": "d9c19fd0-0b12-482b-a1c6-62c9212c62fa"
			}
		},
		"modals":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "1",
				"element": "926fc8cb-6c93-4342-82a8-d2320bbb0f37"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "1",
				"element": "c9b507ed-a1ea-47e9-b208-94c5d60a5980"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "d0f3707f-2336-4e5f-b16e-1ecff9f87976"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "6f5dcf38-1a14-4965-9865-f07ffb0c6ec3"
			}
		}
	},
	"store.ttopboatcover.bsk":  {
		"diagram":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"element": "13da0c51-5124-478a-a122-32dda5883974"
			}
		}
	},
	"store.accessories.related_full":  {

	},
	"store.accessories.related_modal":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "300",
				"link_to_item": "0",
				"element": "ab8ac283-d64e-4801-9118-f73fc508c7b5"
			}
		},
		"options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "1",
				"required": "1",
				"element": "766556e0-0e0b-4009-92e0-32ae46a64d63"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<p>%s<\/p>]",
				"display": "all_without_first",
				"element": "a49d1cfb-8084-432b-8b4c-70c7eab61a69"
			}
		},
		"pricing":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "2",
				"element": "93a06f01-7f7c-4758-bd8f-27a4c5d8e517"
			}
		}
	},
	"store.modal.full":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "ac68c0dc-57dc-41f8-a49c-cc680295bec6"
			}
		},
		"scripts":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "fab289c6-c372-48e5-88ee-bed1c6325995"
			}
		}
	},
	"store.sandbags.full":  {
		"top":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ | ]",
				"element": "_itemcategory"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"mode": "slideshow",
				"lightbox_group": "1",
				"lightbox_caption": "1",
				"slideshow_animated": "top",
				"slideshow_width": "auto",
				"slideshow_height": "auto",
				"slideshow_autoplay": "1",
				"slideshow_interval": "5000",
				"slideshow_duration": "500",
				"effect": "",
				"spotlight_effect": "default",
				"spotlight_caption": "0",
				"corners": "square",
				"margin": "1",
				"order": "asc",
				"width": "75",
				"height": "0",
				"count": "0",
				"element": "0a1b8a88-d3ef-42b9-ad3d-0a8abc74f8d9"
			}
		},
		"options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "1c79a3a0-6801-47e9-94c0-61d8c5ee43be"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all_without_first",
				"element": "61ea407c-d4c0-435d-ba6e-7c27e7dc4463"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "2",
				"element": "c5f25743-0685-4a39-9044-8495f8a6d1b4"
			}
		},
		"addtocart":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "039bd9c9-adf0-4778-9715-d4824cf199c0"
			}
		}
	},
	"store.sandbags.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "150",
				"height": "",
				"link_to_item": "1",
				"element": "1a304a83-9cba-4d12-a110-672542c01a61"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "first",
				"element": "61ea407c-d4c0-435d-ba6e-7c27e7dc4463"
			}
		}
	},
	"store.sandbags.related":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "100",
				"link_to_item": "0",
				"element": "1a304a83-9cba-4d12-a110-672542c01a61"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "first",
				"element": "61ea407c-d4c0-435d-ba6e-7c27e7dc4463"
			}
		}
	},
	"store.sandbags.related_full":  {

	},
	"store.sandbags.related_modal":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "300",
				"link_to_item": "0",
				"element": "1a304a83-9cba-4d12-a110-672542c01a61"
			}
		},
		"options":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "1c79a3a0-6801-47e9-94c0-61d8c5ee43be"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<p>%s<\/p>]",
				"display": "all_without_first",
				"element": "61ea407c-d4c0-435d-ba6e-7c27e7dc4463"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "2",
				"element": "c5f25743-0685-4a39-9044-8495f8a6d1b4"
			}
		},
		"addtocart":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "039bd9c9-adf0-4778-9715-d4824cf199c0"
			}
		}
	},
	"store.storage-bag.full":  {
		"top":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ | ]",
				"element": "_itemcategory"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"mode": "slideshow",
				"lightbox_group": "1",
				"lightbox_caption": "1",
				"slideshow_animated": "top",
				"slideshow_width": "auto",
				"slideshow_height": "auto",
				"slideshow_autoplay": "1",
				"slideshow_interval": "5000",
				"slideshow_duration": "500",
				"effect": "",
				"spotlight_effect": "default",
				"spotlight_caption": "0",
				"corners": "square",
				"margin": "1",
				"order": "asc",
				"width": "75",
				"height": "0",
				"count": "0",
				"element": "f5365498-2ab5-4ede-badd-d09298f5fd5d"
			}
		},
		"options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "f2ec4e8d-dc99-496e-a761-8c5cca298608"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all_without_first",
				"element": "a8df74fe-5be9-469d-a521-3eed9390ef7a"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "2",
				"element": "4670b923-66db-4010-aef3-345e029374f4"
			}
		},
		"addtocart":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "cf6b8894-1ac4-4395-9bc9-74a968c2640c"
			}
		}
	},
	"store.storage-bag.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "150",
				"height": "",
				"link_to_item": "1",
				"element": "c06714dd-e597-46e6-a7e5-ddf133a56f79"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "first",
				"element": "a8df74fe-5be9-469d-a521-3eed9390ef7a"
			}
		}
	},
	"store.storage-bag.related":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "100",
				"link_to_item": "0",
				"element": "c06714dd-e597-46e6-a7e5-ddf133a56f79"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "first",
				"element": "a8df74fe-5be9-469d-a521-3eed9390ef7a"
			}
		}
	},
	"store.storage-bag.related_full":  {

	},
	"store.storage-bag.related_modal":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "300",
				"link_to_item": "0",
				"element": "c06714dd-e597-46e6-a7e5-ddf133a56f79"
			}
		},
		"options":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "f2ec4e8d-dc99-496e-a761-8c5cca298608"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<p>%s<\/p>]",
				"display": "all_without_first",
				"element": "a8df74fe-5be9-469d-a521-3eed9390ef7a"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "2",
				"element": "4670b923-66db-4010-aef3-345e029374f4"
			}
		},
		"addtocart":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "cf6b8894-1ac4-4395-9bc9-74a968c2640c"
			}
		}
	},
	"store.boat-shade-kit.cover":  {

	},
	"store.ultimate-boat-shade.full":  {
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"mode": "slideshow",
				"lightbox_group": "1",
				"lightbox_caption": "1",
				"slideshow_animated": "top",
				"slideshow_width": "500",
				"slideshow_height": "auto",
				"slideshow_autoplay": "1",
				"slideshow_interval": "5000",
				"slideshow_duration": "500",
				"effect": "",
				"spotlight_effect": "default",
				"spotlight_caption": "0",
				"corners": "square",
				"margin": "1",
				"order": "asc",
				"width": "75",
				"height": "0",
				"count": "0",
				"element": "a3de2630-8a50-449d-8ad3-f68e666c8944"
			}
		},
		"tabs":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "d0fff279-9c73-4416-8b70-2c4b03412d99"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "e8f3782b-49c0-4b1d-80cd-aed1cdf93f23"
			}
		},
		"boat_options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "6dc5f063-da64-434a-98bc-a8147d5242ca"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "d3ade170-844e-408f-91b5-a0e81fa29374"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "f2bcce2f-2f3a-4ea6-b974-ed642f2e13e1"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "f9e52ab1-79cc-4e7d-8010-6133068bd7a1"
			}
		},
		"options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"required": "0",
				"element": "6d5aa8d4-d197-407f-8c38-1dee3fa5db03"
			}
		},
		"product_info":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "5efa350e-35b1-48ff-bb70-3bccea97d768"
			}
		},
		"aft_measurements":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "1) Rod Holder to Rod Holder",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "cda2806a-edd7-4055-ac03-c33be7cd92eb"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "2) T-Top Width",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "939c8c24-978d-41e0-b291-dabf48cd72db"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "3) T-Top to Rod Holders",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "63a35feb-cb2f-4cd2-82bc-488d26c1d0bb"
			}
		},
		"measurement_info":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "6945b708-34df-4cb9-a4b7-c76bd29ddd99"
			}
		},
		"accessories":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order":  {
					"0": "_itemname",
					"1": "7d072ccb-e0e8-4dc9-ac80-1cdcd7add7a4",
					"2": "",
					"3": "",
					"4": "",
					"5": "",
					"6": "",
					"7": "",
					"8": ""
				},
				"layout": "related",
				"separated_by": "tag=[%s]",
				"element": "7b868c24-8763-49c2-b509-cbcef6e0831d"
			}
		},
		"modals":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "1",
				"element": "f8acaff1-74a6-4b7d-9fa3-598fc61f0ed1"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "1",
				"element": "f4f9f7e4-5313-46d3-8f00-afb02cb7e282"
			}
		}
	},
	"store.ultimate-boat-shade.cover":  {

	},
	"store.ccc.full":  {
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"mode": "slideshow",
				"lightbox_group": "1",
				"lightbox_caption": "1",
				"slideshow_animated": "top",
				"slideshow_width": "500",
				"slideshow_height": "auto",
				"slideshow_autoplay": "1",
				"slideshow_interval": "8000",
				"slideshow_duration": "500",
				"effect": "",
				"spotlight_effect": "default",
				"spotlight_caption": "0",
				"corners": "square",
				"margin": "1",
				"order": "asc",
				"width": "75",
				"height": "0",
				"count": "0",
				"element": "c0b68535-4c85-441f-8e18-048cd4a368c4"
			}
		},
		"tabs":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "af1f7a9f-a366-4365-b670-56bf1967cda9"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "9223f209-01ee-4491-b62a-7c6fcc60319a"
			}
		},
		"boat_options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "1f46633e-78b1-4ba5-a8c9-b3621d6dd4a3"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "47fb60f5-dbf0-4de2-b56a-8b7750960401"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "f959c58e-ea5f-4112-8f5d-dd5fbf1e1515"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "c08ee50b-20f2-408f-a7bd-a5308521491b"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "2",
				"hidden": "0",
				"required": "1",
				"element": "5dfb722f-3435-43a7-a66b-9873b94eaebb"
			}
		},
		"options":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "1bc7e586-1e99-47da-b92f-c24667a354fa"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"field_width": "1",
				"hidden": "0",
				"required": "1",
				"element": "7b4727cf-0be3-4bcf-ab83-f88222bcfb22"
			}
		},
		"product_info":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "f7fffed7-15cd-4a1e-9b0a-83f14a4917d8"
			}
		},
		"pricing":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"field_width": "2",
				"element": "5a1f5ea6-b82f-4251-87b9-6055e1d8f22d"
			}
		},
		"measurement_info":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Measurement Instructions",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "de469b85-7b30-4a08-91f2-1de10ecdb4ce"
			}
		},
		"accessories":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order":  {
					"0": "_itemname",
					"1": "7d072ccb-e0e8-4dc9-ac80-1cdcd7add7a4",
					"2": "",
					"3": "",
					"4": "",
					"5": "",
					"6": "",
					"7": "",
					"8": ""
				},
				"layout": "related",
				"separated_by": "tag=[%s]",
				"element": "6580c6bb-80a9-4d32-aa25-beea64b7ca48"
			}
		},
		"modals":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "1",
				"element": "0cf0b506-e5dc-43e6-9036-c8b04ad559d2"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "06076124-0c43-4c74-895d-ca687163c1e4"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"modal_large": "0",
				"element": "f7633cc2-a98a-439a-918c-94dcfd0f671c"
			}
		}
	},
	"store.ccc.cover":  {

	}
}